body {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif; 
  font-size: 20px; 
}

a { 
  color: #37A1F7; 
}

p {
  margin: 16px 0;
  letter-spacing: 1.3px;
  color: rgb(44,44,46);
}

h1 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: rgb(229,229,234);
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 2.5;
  word-spacing: 0.05em;
  letter-spacing: 5px;
  color: rgb(0,122,255);
  text-align:center; 
}

h5 {
  color: #D41876;
}

form { 
  margin:.1em auto; 
  padding:.1em; 
  width: 400px; 
  border: 1px 
}

#introduction {
  padding-top: 77px;
  margin-top: -77px;
}

.content {
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  color: #4C4C4C;
}

.welcome {
  background-color: rgb(52,199,89);
  padding: 100px 0;
  margin-top: 77px;
  text-align: center;
}

.heading { 
  font-weight: bold;
  color:black; 
}

.page { 
  margin:.1em auto; 
  padding:.1em; 
  width: 504px;  
}

.entry { 
  margin-bottom: 2em; 
  padding-bottom: 2em; 
  border-bottom: 1px solid #888; 
}

input[type=text] { 
  margin: .5em 0; 
  padding: .5em; 
  font-size: 12px; 
  color: #777; 
  width: 200px;
}

input[type=textarea] { 
  margin: .5em 0; 
  padding: .5em; 
  font-size: 12px; 
  color: #777; 
  width: 200px;
}

.header {
  position: sticky;
  overflow: hidden;
  background-color: #6a7f10;
  padding: 10px 15px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px 15px;
  text-decoration: none;
  font-size: 1em; 
  line-height: 25px;
  border-radius: 5px;
}

.header a.logo {
    font-size: 1.6em;
}

.header a:hover {
  background-color: #464646;
  color: white;
}

.header-right {
  float: right;
}

.footer {
  overflow: hidden;
  background-color: #6a7f10;
  padding: 10px 15px;
}

.FooterCenter {
  font-size: 1em;
}

.Links {
  font-size: 1em;
  padding: 12px 15px;
}

.footer {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.FooterLinks{
  width: 100%;
  height: auto;
  margin: auto;
  background:#272727;
  padding: 20px 0px;
  
}

.LinksOne {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 10px;
}
.LinksOne ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.LinksOne ul li{
  display: inline-block;
  margin: 10px 20px;   
}

.LinksOne ul li a{
  text-decoration: none;
  outline: none;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}

.LinksOne ul li a:hover{
  color:  #6a7f10;
}

.Credits {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #6a7f10;
  color: white;
  padding: 5px;
  font-size: 10px;
  text-align: center;
}

.Network a:hover {
  color: black;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

@media(max-width:691px ){
.LinksOne ul li a{
  font-size: 16px;
}
}

@media(max-width:604px ){
.LinksOne ul li a{
  font-size: 14px;
}
.LinksOne ul li{
  padding: 0px ;
}
}

@media(max-width:559px ){

.LinksOne ul li a{
  font-size: 13px;
}

@media(max-width:539px ){
.LinksOne ul li a{
  font-size: 11px;
}

.LinksOne ul li{
  margin: 5px 20px;
}

.LinksOne ul li.p1 {
    padding-top: 10px;
}

@media(max-width:380px ){
  .LinksOne ul li{
    display: block;
    padding: 5px;
  }

@media(max-width: 375px){
  .LinksOne ul li.p1 {
    padding-top: 0px;
}
}