{% extends "layout.html" %}
{% block content %}

    <header class="header">
            <a href="#home" class="logo">Lost My Bag</a>
            <div class="header-right">
                <a id= "Pages" href="about.html">About</a>
                <a id= "Pages" href="{{ url_for('createtag') }}">Create Tag</a>
                <a id= "Pages" href="{{ url_for('viewtag') }}">View Tags</a>
            </div>
    </header>




    <footer class="footer">
        <div class="FooterLinks">
            <div class="LinksOne">
            <ul>
                <li><a href="https://www.pdx.edu/careers/internship-information-for-students">Internships</a></li>
                <li><a href="https://www.pdx.edu/careers/events">WorkShops</a></li>
                <li><a href="https://www.pdx.edu/careers/appointments-drop-in">Appointments</a></li>
                <li><a href="https://www.pdx.edu/careers/contact">Contact Us</a></li>               
            </ul>
            </div>
            <div class="LinksTwo">
            <ul>
                <li><a href="https://www.linkedin.com/school/portland-state-university/">LinkedIn</a></li>
                <li><a href="https://portlandstate.joinhandshake.com/login">Handshake</a></li>
                <li><a href="https://www.indeed.com/q-Pdx-jobs.html">Indeed</a></li>
            </ul>
            </div>
        </div>

        <div class="Credits">
            <p>All Rights Reserved ( <a class="Network" href="https://www.linkedin.com/in/avinashvarmacherukuri/">Avinash Varma</a> & <a class="Network" href="https://www.linkedin.com/in/kaushik-chaudhary-7696a2a0/">Kaushik Chaudhary</a> )</p>
        </div>
    </footer>    


    <h2>Bag Tracking App</h2>
    <h3>About<a href="{{ url_for('static', filename='about.html') }}">About</a></h3>
    <h3>Add New Bag <a href="{{ url_for('createtag') }}">here</a></h3>
    <embed src="{{embed_url}}" height="250">
    <h3>Existing Todo Entries</h3>
    {% for entry in entries %}
        <p class=entry>
            {{ entry.username }} &lt;{{ entry.bagcolor }}&gt;
	    <br>Owner's contact {{ entry.cellphone }}<br>
	    {{ entry.description }} &lt;{{ entry.tagid }}&gt;
           {{ entry.status }}
        </p>
    {% endfor %}

{% endblock %}
