{% extends "layout.html" %}
{% block content %}
    <h2>Bag Tracking App</h2>
    <h3>About<a href="{{ url_for('static', filename='about.html') }}">About</a></h3>
    <h3>Add New Bag <a href="{{ url_for('createtag') }}">here</a></h3>
    <embed src="{{embed_url}}" height="250">
    <h3>Existing Todo Entries</h3>
    {% for entry in entries %}
        <p class=entry>
            {{ entry.username }} &lt;{{ entry.bagcolor }}&gt;
	    <br>Owner's contact {{ entry.cellphone }}<br>
	    {{ entry.description }} &lt;{{ entry.tagid }}&gt;
           {{ entry.status }}
        </p>
    {% endfor %}

{% endblock %}
