{% extends "layout.html" %}
{% block content %} 

    <section>
      <section class="welcome">
        <h1>Hey!</h1>
        <h1>Hello!</h1>
        <h1>Namaste!</h1>
      </section>
    </section>

    <img src="{{url_for('static', filename='lostmybag.jpeg')}}" alt="View of lostmybag" width="550" height="400">

    <section id="introduction">
      <section class="content">
        <h2>Tag and Secure your Bags with us</h2>
        <p>Create a tag for each of you bags and paste the qr code on the bag.</p>
        <p>If in case you loose your bag and someone who finds it scans the qr code, we will immediately let you know</p>
        <p>Tagging is Free</p>
      </section>
    </section>

    <h2>Download your QR Code here once you created your tag</h2>
    <embed src="{{embed_url}}" height="250">
    
{% endblock %}
