<!doctype html>

<html>
{% extends "layout.html" %}
{% block content %}

    <head>
        <title>PDX Food Carts</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <h2>New Food Cart Entry</h2> <br>
        <form action="{{ url_for('submit') }}" method=post>
            <p class="heading">Cart Name: <input type=text name=Name>
            <p class="heading">Cart Address: <input type=text name=StreetAddress>
            <p class="heading">City: <input type=text name=City>
            <p class="heading">State: <input type=text name=State>
            <p class="heading">Zip Code: <input type=number name=Zipcode>
            <p class="heading">Store Hours: <input type=text name=StoreHours>
            <p class="heading">Mobile Number: <input type=number name=PhoneNumber>
            <p class="heading">Rating: <input type=number name=Rating>
            <p class="heading">Review: <textarea rows=5 cols=50 name=Review></textarea></p>
            <p class="heading">Price: <input type=text name=Price>
            <p class="heading">Famous Item: <input type=text name=Favorite>
            <p><input type=submit value=submit></p>
        </form>
    </body>
{% endblock %}
</html>