<html>
{% extends "layout.html" %}
{% block content %}   

        <h2>View all Bag tags here!</h2>
        {% for entry in entries %}
        <p class=entry>
        <br>Owner UserName : {{ entry.username }} </br>
        <br>Bag Color : {{ entry.bagcolor }}</br>
        <br>Owner Contact Number : {{ entry.cellphone }}</br>
        <br>Bag Description : {{ entry.description }}</br>
        <br>Bag Tag ID : {{ entry.tagid }}</br>
        <br>Bag Status : {{ entry.status }} </br>
        <td>
            <form action="{{ url_for('sendtext', id=entry.tagid)}}" method="post">
                    <input type="submit" value="SendText">
            </form>
        </td>
        </p>

    {% endfor %}
{% endblock %}
</html>